<!--Store this code in 'index.html' file inside the 'templates' folder-->
<meta charset="utf-8" />
<html lang="en">
	<head>
		<title>{{ name }}作答</title>
        <!--script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                window.open('/questions', '{{ name }}題目');
            });
        </script-->
        <style>
            .radio-container {
                display: flex;
                flex-direction: row;
            }
            .radio-container input[type="radio"] {
                margin-right: 0px;
            }
            body {
                font-family: "Times New Roman", Times, serif;
            }     
        </style>	
    </head>

	<body bgcolor="#e6ffee">
    <h3>{{ name }}作答:</h3>
    <form action="{{ url_for('answers')}}" method="post">
        I 
        {% for i in range (1, 6) %}
        {% set key = 'I' + i|string %}
        <div class="radio-container">
            &ensp;
            ({{ i }})
            <label>
                <input type="radio" name="{{key}}" id="{{key}}A" value="{{key}}A" {% if ans [key] == 'A' %}checked{% endif %}>A
            </label>
            <label>
                <input type="radio" name="I{{i}}" id="I{{i}}B" value="I{{i}}B" {% if ans [key] == 'B' %}checked{% endif %}>B
            </label>
        </div>
        {% endfor %}
        {% for i in ['II', 'III'] %}
        <br>
            {{ i }}
            <div class="radio-container">
                &ensp;
                (1)
                <label>
                    <input type="radio" name="{{ i }}1" id="{{ i }}1A" value="{{ i }}1A">A
                </label>
                <label>
                    <input type="radio" name="{{ i }}1" id="{{ i }}1B" value="{{ i }}1B">B
                </label>
            </div>
            <div class="radio-container">
                &ensp;
                (2)
                <label>
                    <input type="radio" name="{{ i }}2" id="{{ i }}2A" value="{{ i }}2A">A
                </label>
                <label>
                    <input type="radio" name="{{ i }}2" id="{{ i }}2B" value="{{ i }}2B">B
                </label>
                <label>
                    <input type="radio" name="{{ i }}2" id="{{ i }}2C" value="{{ i }}2C">C
                </label>
            </div>
        {% endfor %}

        <br>
        <button type="submit">提交</button>
    </form>
	</body>
</html>
