<!--Store this code in 'login.html' file inside the 'templates' folder-->
<meta charset="utf-8" />
<html>
	<head>
		<meta charset="UTF-8">
		<title>黃老師科技課程「機器學習」評量</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<div class="logincontent" align="center">
			<div class="logintop">
				<h1>黃老師科技課程「機器學習」評量</h1>
			</div></br></br></br></br>
			<div class="loginbottom">
			<form action="{{ url_for('login')}}" method="post" autocomplete="off">
			<div class="msg">{{ msg }}</div>
			<input type="text" name="username" placeholder="輸入班級座號共 5 碼" class="textbox" id="username" required></br></br>
			<input type="password" name="password" placeholder="輸入學號末 4 碼" class="textbox" id="password" required></br></br></br>
			<input type="submit" class="btn" value="登入">
			</form></br></br>
			</div>
		</div>
	</body>
</html>
