/* Common styles for all pages */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 0.45rem 0.5rem 0.008px 0.5rem; /* top right bottom left */
    position: relative;
}

header a {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

header h1 {
    margin: 0.5rem 0 0 0;
    font-size: 2em;
}

header p {
    margin-top: 0.27em;
    font-size: 1.17em;
}

main {
    max-width: 770px;
    margin: 1.5rem auto;
    padding: 1rem 3rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #4CAF50;
    font-size: 1.7em;
}

h3 {
    font-size: 1.4em;
}

input {
    margin-right: 0rem;
    padding: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

pre {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;
}

.center-box {
    display: inline-block;
    padding: 35px 40px 20px 40px; /* inside the border line */
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 0.7em; /* the space between the top border line against the white background */
    margin-bottom: 40px;
}

.center-box.error-shown {
    padding-bottom: 5px;
}

.error-message {
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}

.name-bold {
    font-size: 1.5em;
}

.pw_label {
    font-size: 1.1em;
}

.copyright {
    margin-top: 0px;
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* To tweak space above the welcome message (h2#welcomeMessage), adjust margin-top here or in HTML */
#welcomeMessage {
    margin-top: 0; /* default, increase if needed */
}

/* Thinner top padding for pyth1 menu (welcomeSection) */
.center-box.pyth1-menu {
    padding-top: 45px; /* thinner top padding; adjust as needed */
}
